<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  

 

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="TestSuiteFile" fileName="${var:TestSuiteLogFilePath}"  layout="${longdate} : ${loglevel} : ${message}" />
    <target xsi:type="File" name="TestCaseFile" fileName="${var:TestCaseLogFilePath}"  layout="${longdate} : ${loglevel} : ${var:TestCaseName} ${message}" />
</targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="TestSuiteFile" />
    <logger name="TestCaseLogger" minlevel="Error" writeTo="TestCaseFile" />
  </rules>
</nlog>